.container-header {
    height: 100px;
    background-color: rgba(8, 142, 252, 0.514);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -23px 20px -8px rgba(255, 255, 255, 0.5);
}

h1 {
    margin-left: 25px;
    color: white;
}
.btn {
    margin-right: 16px !important;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
