.container-footer {
    height: 100px;
    background-color: rgba(8, 142, 252, 0.514);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 23px 20px -8px rgba(255, 255, 255, 0.5);
}

.footer {
    margin-left: 32px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    font-size: 24px;
    text-decoration: none;

    &:hover {
        color: rgb(0, 60, 255);
    }
}
