/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0px;
    background-color: rgba(76, 87, 104, 0.212);
    font-family: "Benne", serif;
}
